.main-title {
  font-size: 45px;
  font-weight: 700;
  color: #111430;
}

.main-title span {
  color: #f63e7b;
}

.single-services {
  transition: 0.3s;
}

.single-services img {
  width: 70px;
}

.single-services:hover {
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);
}

.single-services .service-title {
  font-size: 26px;
  color: #111430;
  font-weight: 700;
}

.single-services .service-price {
  color: #f63e7b;
  font-weight: 700;
}

.service-descrip {
  color: #4d4d4dd3;
  font-weight: 500;
}

.buy-now-btn {
  text-decoration: none;
  background: #f63e7b;
  display: inline-block;
  color: #fff;
  padding: 8px 22px;
  border-radius: 24px 0 24px 0;
  font-weight: 600;
}
